<!DOCTYPE html>
<html>
<head>
  <title>Participate</title>
  <%= stylesheet_link_tag 'application', 'bootstrap.min', 'slider', media: 'all',  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'bootstrap.min', 'bootstrap-slider', 'data-turbolinks-track' => true %>
  <%= %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

<% if flash[:notice] and !flash[:notice].blank? %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] and !flash[:error].blank? %>
  <div class="alert alert-error" role="alert"><%= flash[:error] %></div>
<% end %>

<ul>
  <li><%= link_to 'shapes', shapes_path %></li>
  <li><%= link_to 'drums', steps_path %></li>
  <li><%= link_to 'reset game', reset_shapes_path %></li>
</ul>


<%= yield %>

</body>
</html>
