<h1>Placing Shape: <%= @shape.name %></h1>

<%= form_for @shape do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :disabled => true %>
  </div>

  <div class="form-group">
    <%= form.label :xpos %>
    <input type="text" class="span2" value="<%= @shape.xpos%>"
           id="xpos" name="shape[xpos]"
           data-slider-min="0" data-slider-max="100"
           data-slider-step="1" data-slider-value="<%= @shape.xpos %>"
           data-slider-orientation="vertcal"
           data-slider-selection="after" data-slider-tooltip="hide">
    <%#= form.select(
          :xpos,
          options_for_select(
            Shape::POS_OPTS,
            :selected => @shape.xpos
          )
    ) %>
  </div>

  <div class="form-group">
    <%= form.label :ypos %>
    <input type="text" class="span2" value="<%= @shape.ypos%>"
           id="ypos" name="shape[ypos]"
           data-slider-min="0" data-slider-max="100"
           data-slider-step="1" data-slider-value="<%= @shape.ypos %>"
           data-slider-orientation="vertical"
           data-slider-selection="after" data-slider-tooltip="hide">
    <%#= form.select(
          :ypos,
          options_for_select(
            Shape::POS_OPTS,
            :selected => @shape.ypos
          )
        ) %>
  </div>

  <div class="form-group">
    <%= form.label :size%>
    <input type="text" class="span2" value="<%= @shape.size%>"
           id="size" name="shape[size]"
           data-slider-min="0" data-slider-max="1"
           data-slider-step="0.05" data-slider-value="<%= @shape.size %>"
           data-slider-selection="after" data-slider-tooltip="hide">
    <%#= form.select(
          :size,
          options_for_select(
            Shape::SIZE_OPTS,
            :selected => @shape.size
          )
        ) %>
  </div>

  <%= form.hidden_field :active %>
  <%= form.hidden_field :passed %>


  <%= form.submit 'Place Shape', :class=> 'btn btn-default' %>

<% end %>

<script type=text/javascript>
  $('#xpos').slider();
  $('#ypos').slider();
  $('#size').slider();

</script>